.button1 {
position:absolute;
bottom:840px;
left: 1680px;
background: grey;
width: 90px;
height: 35px;
border-radius: 5px;
box-shadow: 0px 1px 3px;
font-size: 20px;
text-align:center;
text-decoration:none;
text-shadow: #333 0px -1px 0px;
font-family: "Comic Sans MS", cursive, sans-serif;
color:rgb(0, 80, 10);
}

.button2 {

left: 9px;  position:absolute;
  bottom:620px;
  background: yellow;
  width: 438px;
  height: 35px;
  border-radius: 5px;
  box-shadow: 0px 1px 3px;
  font-size: 20px;
  text-align:center;
  text-decoration:none;
  text-shadow: #333 0px -1px 0px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color:green;
}

.button3 {
  left:449px;
  position:absolute;
  bottom:620px;
  background: yellow;
  width: 438px;
  height: 35px;
  border-radius: 5px;
  box-shadow: 0px 1px 3px;
  font-size: 20px;
  text-align:center;
  text-decoration:none;
  text-shadow: #333 0px -1px 0px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color:green;
}

.button4 {
  left:890px;
  position:absolute;
  bottom:620px;
  background: yellow;
  width: 438px;
  height: 35px;
  border-radius: 5px;
  box-shadow: 0px 1px 3px;
  font-size: 20px;
  text-align:center;
  text-decoration:none;
  text-shadow: #333 0px -1px 0px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color:green;
}

.button5 {
  left:1331px;
  position:absolute;
  bottom:620px;
  background: yellow;
  width: 438px;
  height: 35px;
  border-radius: 5px;
  box-shadow: 0px 1px 3px;
  font-size: 20px;
  text-align:center;
  text-decoration:none;
  text-shadow: #333 0px -1px 0px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color:green;
}

.button6 {
  position:absolute;
  bottom:110px;
  left:681px;
  background: yellow;
  width: 394px;
  height: 35px;
  border-radius: 5px;
  box-shadow: 0px 1px 3px;
  font-size: 20px;
  text-align:center;
  text-decoration:none;
  text-shadow: #333 0px -1px 0px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color:green;
}
